<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="author" content="Lucas Moura da Silva, Jadison Dias Gonçalves">
  <meta name="keywords" content="Diário de filmes, filmes">
  <script src="https://kit.fontawesome.com/606348aac3.js" crossorigin="anonymous"></script>
  <title>Letterboxd</title>
  <link rel="stylesheet" href="Style/Estilos.css">



</head>

<body>



  <header>


    <div>
      <form action="/logar" method="post" class="form_logar">
        <br>
        <input name="login" type="text" placeholder="usuario">
        <br>
        <br>
        <input name="senha" type="password" placeholder="sa">
        <br>
        <br>
        <input type="submit" value="registrar" class="InpLogar">
      </form>
    </div>




</body>



</html>